
<br> 
<div>
    {% if user.is_authenticated %}
        Hi {{ user.username }}! <br><a href="{% url 'submission' %}">Home</a> |
        <a href="{% url 'logout' %}">Log Out</a> |
        <a href="{% url 'batchSubmission' %}">Batch Submit</a> |
        <a href="{% url 'profile' %}">Profile</a> |
        
    
    {% else %}
        You are not logged in <br><a href="{% url 'submission' %}">Home</a> |
        <a href="{% url 'login' %}">Log In</a> |
        <a href="{% url 'registration' %}">Sign Up</a> |
    {% endif %}
    <a href="{% url 'faq' %}">FAQ</a>
</div>