{% load static %}

<!DOCTYPE html>

<html lang="en">
    <head>  

        <!-- Google tag (gtag.js) -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=G-5KNK42WR5H"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());

            gtag('config', 'G-5KNK42WR5H');
        </script>

        <!-- Favicons -->
        <link rel="apple-touch-icon" sizes="180x180" href=" {% static 'images/apple-touch-icon.png' %} ">
        <link rel="icon" type="image/png" sizes="32x32" href=" {% static 'images/favicon-16x16.png' %} ">
        <link rel="icon" type="image/png" sizes="16x16" href=" {% static 'images/favicon-32x32.png' %} ">
        <link rel="manifest" href=" {% static 'images/site.webmanifest' %} ">

        <!-- Custom CSS -->
        <link rel="stylesheet" type="text/css" href=" {% static 'styles/site_wide.css' %} ">
        <link rel="stylesheet" type="text/css" href=" {% static 'styles/base.css' %} ">
        <link rel="stylesheet" type="text/css" href=" {% static 'accounts/styles/profile-style.css' %} ">

        <!-- jQuery libraries -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
        <script src="https://malsup.github.io/jquery.blockUI.js"></script>

        <!-- General Settings -->
        <meta name="viewport" content="width=device-width, initial-scale=0.89, minimum-scale=0.89" charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <meta name="description" content="A community for submitting and voting on bandnames.">
        <title> {% block title %} {% endblock %}</title>
        <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.12.1/css/jquery.dataTables.css">
        <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.js"></script>

    </head>

    <body class = "cursor-default">
        {% include "main/navigation.html" %}
        {% block body %}
        {% endblock %}
    </body>

    <!-- FOOTER -->
    <footer id = "copyright-footer">
        <span><small>&copy; Copyright 2022, Bandname Boys</small></span>
    </footer> 

    <script>
        $(document).ready(function() {
          document.getElementsByTagName("html")[0].style.visibility = "visible";
        });
    </script>

    <!-- AJAX scripts -->
    <script type="text/javascript" src=" {% static 'accounts/scripts/profile.js' %} "></script>
    <script type="text/javascript" src=" {% static 'accounts/scripts/delete_bandname.js' %} "></script>
</html>