{% extends 'registration/registration_base.html' %}

{% block body %}



<p> Hello {{user.username}}!</p><a href="/">Go Back</a>

<form id = "profile-form">
    {% csrf_token %}
    {{form.as_p}}
    <input id="profile-submit" type="submit" style="font-family: Pixelated; margin: 5px;" type="submit" value="Submit"></button>
</form>

<script>
    if("{{user.profile.profanity_filter}}" == "True"){
        document.getElementById('id_profanity_filter').checked = true;
    }

</script>



{%endblock%}

