{% extends 'registration/accounts_base.html' %}
{% load static %}
{% block title %} {{ title }} {% endblock %}
{% block body %}

<div id = 'pillars-div'>
    
    <div id="transparent-background"></div>

    <img class="noselect" draggable = false src="{% static 'images/pillar_left.png' %}" id="pillar-img-left"/>
    <img class="noselect" draggable = false src="{% static 'images/pillar_right.png' %}" id="pillar-img-right"/>
    <div id="signup-div">
        <div class="col-12 col-lg-6 mb-4 mb-lg-0">
            <div class="card card-tertiary">
                <div class="card-header">
                    <
                    <span class="ml-4">Register</span>
                </div>
                <div class="card-body">
                    <div class="d-flex mt-3">
                        {% if form.errors %}
                            <div class="signup-errors">
                                {% for field in form %}
                                    {% for error in field.errors %}
                                        <p>Error in {{ field.label }}: {{ error }}</p>
                                    {% endfor %}
                                {% endfor %}
                                {% for error in form.non_field_errors %}
                                    <p>{{ error }}</p>
                                {% endfor %}
                            </div>
                        {% endif %}
                        <div class="form-group d-flex align-items-center justify-content-between">
                            <form role="form" class="form-horizontal" method="POST">
                                {% csrf_token %}
                                {% for field in form %}
                                    {% if field.name == "username" %}
                                    <h3 class="signup-form-header">Username</h3>
                                        <input class="signup-field" id="{{ field.id_for_label }}" name="{{ field.html_name }}" placeholder="Username" id="default" type="text" />
                                    {% elif field.name == "password1" %}
                                    <h3 class="signup-form-header">Password</h3>
                                        <input class="signup-field" placeholder="Password" style="height: 20px;" type="password", id="{{ field.id_for_label }}" 
                                        name="{{ field.html_name }}" type="password">
                                    {% elif field.name == "password2" %}
                                        <input class="signup-field" placeholder="Confirm Password" style="height: 20px;" type="password" id="{{ field.id_for_label }}" 
                                        maxlength="30" name="{{ field.html_name }}" type="password">  
                                    {% endif %}
                                {% endfor %}   
                                <div class="d-flex mt-3">
                                    <button class="btn btn-sm mr-2 btn-primary border-dark" id="user-signup" type="submit">Register</button>
                                    <input type="hidden" name="next" value="{{ next }}" />
                                </div>
                            </form> 
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- <div id="signup-div-content">
            <form role="form" class="form-horizontal" method="POST">
                {% csrf_token %}
                {% for field in form %}
                <div class="input-group" style="color:rgb(255, 255, 255);">
                    {% if field.name == "username" %}
                        <input placeholder="Username" style="height: 20px;" maxlength="30">
                        <br><br><span>Password</span>
                    {% elif field.name == "password1" %}
                        <input placeholder="Password" style="height: 20px;" type="password", id="{{ field.id_for_label }}" 
                            maxlength="30" name="{{ field.html_name }}" type="password">
                    {% elif field.name == "password2" %}
                        <input placeholder="Confirm Password" style="height: 20px;" type="password" id="{{ field.id_for_label }}" 
                            maxlength="30" name="{{ field.html_name }}" type="password">             
                    {% endif %}
                </div>
                {% endfor %}
                <button id="user-signup" type="submit" style="font-family: Pixelated; margin-top: 10px;">Register</button>
                <input type="hidden" name="next" value="{{ next }}" />
            </form>
        </div> -->
    </div>
</div>

{%endblock%}