{% extends 'main/base.html' %}

{% load static %}
{% load profanity %}

{% block title %} {{ title }} {% endblock %}
{% block body %}

<link rel="stylesheet" type="text/css" href=" {% static 'main/styles/bandalytics.css' %} ">
<script type="text/javascript" src=" {% static 'main/scripts/jquery/bandalytics_dt.js' %} "></script>

<div id = 'pillars-div'>
    
    <div id="transparent-background"></div>

    <img class="noselect" draggable = false src="{% static 'images/pillar_left.png' %}" id="pillar-img-left"/>
    <img class="noselect" draggable = false src="{% static 'images/pillar_right.png' %}" id="pillar-img-right"/>
    <div id="bandalytics-div">
        <span id='bandalytics-text'>Bandalytics</span>
        <img draggable = false class='noselect' src="{% static 'images/scroll.png' %}" id="scroll-img-bandalytics"></img>
        
        <select name="bandalytics_selection" id="bandalytics_selection">
            <option onselect="top_ten_bandnames()" value="top_ten_bandnames">Top 10 Bandnames [All Time]</option>
            <option value="top_ten_users">Top 10 Users [All Time]</option>
            <option value="righteous_ratio">Righteousness Ratios</option>
            <option value="get_recent_bandnames">Recently Submitted Bandnames</option>
        </select>
        <table id="bandalytics-table"  class="display"></table>
    </div>
</div>


{% endblock %}