{% load static %}

<!DOCTYPE html>

<html lang="en" class="default-cursor">

    <head>  

        <!-- p5 library -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.6.0/p5.js" defer></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/1.4.2/addons/p5.sound.js" integrity="sha512-TU9AWtV5uUZPX8dbBAH8NQF1tSdigPRRT82vllAQ1Ke28puiqLA6ZVKxtUGlgrH6yWFnkKy+sE6luNEGH9ar0A==" crossorigin="anonymous" referrerpolicy="no-referrer" defer></script>
        <!-- <script src="https://unpkg.com/@free-side/audioworklet-polyfill/dist/audioworklet-polyfill.js" type="text/javascript" defer></script> -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.5.11/addons/p5.dom.min.js" defer></script>
        
        <!-- Favicons -->
        <link rel="apple-touch-icon" sizes="180x180" href=" {% static 'images/apple-touch-icon.png' %} ">
        <link rel="icon" type="image/png" sizes="32x32" href=" {% static 'images/favicon-16x16.png' %} ">
        <link rel="icon" type="image/png" sizes="16x16" href=" {% static 'images/favicon-32x32.png' %} ">
        <link rel="manifest" href=" {% static 'images/site.webmanifest' %} ">

        <!-- Website CSS -->
        <link rel="stylesheet" type="text/css" href=" {% static 'styles/site_wide.css' %} ">  <!-- Site Wide CSS -->
        <link rel="stylesheet" type="text/css" href=" {% static 'styles/base.css' %} ">       <!-- Base CSS -->
        <link rel="stylesheet" type="text/css" href=" {% static 'main/styles/voting-history.css' %} "> <!-- Voting History CSS -->
        <link rel="stylesheet" type="text/css" href=" {% static 'windows-95-ui-kit/css/pixel.css' %} "> <!-- Win95 UI CSS -->
        <link rel="preload" as="image" href="{% static 'gifs/background_halfspeed.gif' %}">


        <!-- jQuery libraries -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js" defer></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.13.2/jquery-ui.min.js" integrity="sha512-57oZ/vW8ANMjR/KQ6Be9v/+/h6bq9/l3f0Oc7vn6qMqyhvPd1cvKBRWWpzu0QoneImqr2SkmO4MSqU+RpHom3Q==" crossorigin="anonymous" referrerpolicy="no-referrer" defer></script>
        <script src="https://malsup.github.io/jquery.blockUI.js" defer></script>

        <!-- General Settings -->
        <meta name="viewport" content="width=device-width, initial-scale=0.89, minimum-scale=0.89" charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <meta name="description" content="A community for submitting and voting on bandnames. Submit your bandname ideas here. Create an account to track your submitted bandnames.">
        <title> {% block title %} {% endblock %}</title>
        <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.12.1/css/jquery.dataTables.css" defer>
        <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.js" defer></script>
        <script type="text/javascript" src="{% static 'windows-95-ui-kit/js/pixel.js' %} " defer></script>

        
    </head>

    <!-- BODY -->
    <body class = "cursor-default noselect">
        {% include "main/navigation.html" %}
        {% block body %}
        {% endblock %}

        <div id="steps-div">
            <table id="links-table">
                <img src="{% static 'images/steps.png' %}" id="steps-img">
                <tr>
                    <td>
                        <a id="instagram-link" href="https://www.instagram.com/bandnames.cool/"></a>
                    </td>
                    <td>
                        <a id="twitter-link" href="https://twitter.com/bandnamescool"></a>
                    </td>
                    <td>
                        <a id="reddit-link" href="https://old.reddit.com/r/BandnamesDotCool/"></a>
                    </td>
                    <td>
                        <a id="email-link" href="mailto:coolbandnames@bandnames.com"></a>
                    </td>
                </tr>
            </table>
        </div>
    </body>


    <!-- FOOTER -->
    <footer id = "copyright-footer">
        <marquee direction="left"
                style="border:BLACK 2px SOLID"
                scrollamount="3">
            {{ footer_text }}
        </marquee>
    </footer> 

    <!-- Load HTML element when everything has loaded -->
    <script>
        $(document).ready(function() {
          document.getElementsByTagName("html")[0].style.visibility = "visible";
        });
    </script>
    
</html>