{% extends 'main/base.html' %}

{% load static %}

{% block title %} {{ title }} {% endblock %}
{% block body %}

<div id = 'pillars-div'>

    <div id="transparent-background"></div>
    
    <img class="noselect" draggable = false src="{% static 'images/pillar_left.png' %}" id="pillar-img-left"/>
    <img class="noselect" draggable = false src="{% static 'images/pillar_right.png' %}" id="pillar-img-right"/>
    <div id="faq-div">
        <div id="faq-text">
            <h1 style="margin-top: 0;" class="faq-text">FAQ</h1>

            <div class="faq-entry">
                <h3 class="faq-text">What is this site?</h3>
                <p class="faq-text">bandnames.cool is a playground for bandnames. 
                    We love cool bandnames. This website was created by a bunch of boys who loved 
                    keeping lists of cool bandnames they thought of. This website was created to 
                    help people like us share their collections of cool bandnames!  </p>
            </div>

            <div class="faq-entry">
                <h3 class="faq-text">What is a bandname? </h3>
                <p class="faq-text">The name of a band. Bandnames can be whatever you want them to 
                    be. Don't let your definition of bandnames be limited to the bands you know! 
                    Think of the bandnames you want to see in the world.</p>
            </div>

            <div class="faq-entry">
                <h3 class="faq-text">How can I submit bandnames?</h3>
                <p class="faq-text">You can submit one bandname using the Submit a bandname form on the homepage. 
                    You do not need to sign up to submit bandnames. </p>
            </div>
            <h3 class="faq-text">What's the wheel for?</h3>
            <p class="faq-text">Spin the wheel with your cursor (or touchscreen on mobile devices) and 
                receive a bandname! Judge them either righteous or blasphemous. You 
                Can also click on the area where the bandname you've landed on is being displayed
                to spin the wheel. Bandnames on the wheel refresh with every judgement given. </p>

            <h3 class="faq-text">Why are all the names I'm seeing censored? </h3>
            <p class="faq-text">A site-wide profanity filter is enabled by default. To turn off the profanity filter, 
                please <a href="{% url 'accounts' %}">sign up</a> for an account and then navigate to the "Profile" button at the top of the 
                webpage, hit Settings and uncheck the "Profanity Filter" checkbox. </p>

            <h3 class="faq-text">Can I see the bandnames I've uploaded? </h3>
            <p class="faq-text">Yes, you can! Currently, the only way to view the bandnames you've uploaded is to <a href="{% url 'accounts' %}">sign up</a>
                for an account - you can then view your submitted bandnames in the "Submissions" tab of your profile page.</p>

            <h3 class="faq-text">What is Bandalytics? </h3>
            <p class="faq-text">Bandalytics is a hall of fame: the Valhalla of Bandnames. 
                Here you can see site-wide statistics for all users and submitted bandnames. 
                This feature is still being developed and new functionality will be implemented soon!</p>

            <h3 class="faq-text">Can I use a bandname I found on this site?</h3>
            <p class="faq-text">We claim no bandname uploaded to this website as our own. Anything uploaded is 
                fair game.</p>

            <h3 class="faq-text">How can I report bugs or submit feedback?</h3>
            <p class="faq-text">
                Please report any bugs you come across and submit any feedback you have to this email: <a href = "mailto: coolbandnames@bandnames.cool">coolbandnames@bandnames.cool</a>
            </p>
        </div>
    </div>
</div>


{% endblock %}
