{% extends 'main/base.html' %}

{% load static %}
{% load profanity %}

{% block title %} {{ title }} {% endblock %}
{% block body %}

<script type="text/javascript" src="{% static 'scripts/tabs.js' %} "></script>
<link rel="stylesheet" type="text/css" href=" {% static 'styles/tabs.css' %} "> <!-- Tabs CSS -->

<script>
    var bandnames = {}
    var voted = false;
    var profanity_filter = "{{profanity_filter}}"

    '{% for bandname, censored_bandname in bandnames %}'
        bandnames["{{bandname}}"] = '{{censored_bandname}}'
    '{% endfor %}'


    // Format new bandnames to be added to the wheel
    function refresh_bn_wheel(bandnames) { 
        var refreshed_bandnames = {}
        for (var i = 0; i < bandnames['bandnames'].length; i++) {
            refreshed_bandnames[bandnames['bandnames'][i][0]] = bandnames['bandnames'][i][1]
        }
        wheel.setNewBandnames(refreshed_bandnames)
    }    
</script>

<script>
    // Adds genres to the genre dropdown
    document.addEventListener('DOMContentLoaded', function() {
        var genres = JSON.parse('{{ genres | escapejs }}');
        var genre_div = '<div class="genre-category" id="no-results" style="display: none;"><div class="genre-category-title">Nothing Found</div></div>'
        for (const parent in genres) {
            genre_div += 
                `<div class="genre-category">
                    <div class="genre-category-title">${parent}</div>
                        <div class="genre-category-content">`
            for (let i = 0; i < genres[parent].length; i++) {
                genre_div += 
                    `<span>${genres[parent][i]}</span>`
            }

            genre_div += `</div></div>`
        }
        $(".genre-dropdown").html(genre_div)
    });
</script>

<script src="{% static 'main/scripts/genres_dropdown.js' %}"></script>

<div id = 'pillars-div'>

    <div id="pillars-imgs">
        <!-- Torches -->
        <img class="noselect torch_animation" draggable="false" src="{% static 'gifs/torch.gif' %}" id="torch-gif-left"/>
        <img class="noselect torch_animation" draggable="false" src="{% static 'gifs/torch.gif' %}" id="torch-gif-right"/>

        <!-- Pillars -->
        <img class="noselect" draggable = false src="{% static 'images/pillar_left.png' %}" id="pillar-img-left"/>
        <img class="noselect" draggable = false src="{% static 'images/pillar_right.png' %}" id="pillar-img-right"/>

        <!-- Bandname Pointer -->
        <img id="selector" class="noselect"draggable="false" src="{% static 'images/merle_selector.png' %}"/>
    </div>
    
    <div class = "contents">
        <div id="background-hallway"><img class="noselect" draggable = false src="{% static 'images/background.png' %}" id="hallway-img"/></div>

        <div id="bandnames-wheel" class="sketch-div cursor-horns" style="touch-action:none"></div>

        <h3 id="doth-text" class="center bn_animation" style="color: white; margin-top: 0px; position: relative; bottom: 25px;">Doth thou deem this band righteous?</h3>
        
        <!-- Vote on bandname -->
        <div class = "vote-div">
            <!-- <h3 style="text-align: center; color: white; margin-bottom: 0;">Doth thou deem this bandname righteous?</h3> -->
            <h3 class="vote-form-div cursor-horns" id="bandname-selected"><img src="../../static/gifs/loading.gif" alt="loading wheel..."  width="45"/></h3>
            <form enctype="multipart/form-data" method="post" id="vote-form">
                {% csrf_token %}
                <a class="disable-group" type="submit" draggable = false value="Submit" id = "upvote-link">
                    <span id="upvote-text">Righteous</span>
                    <img class="noselect cursor-horns" id="upvote-button" draggable="false" src="static/images/uv1.png"/>
                </a>
                <a class="disable-group"  id = "downvote-link" href="{% url 'vote' %}" type="submit" draggable = false value="Submit" >
                    <span id="downvote-text">Blasphemous</span>
                    <img class="noselect cursor-horns" id="downvote-button" src="static/images/dv1.png" draggable="false"/>
                </a>
            </form>
        </div>

        <div class="tabs-container">
            <div class="buttons-container">
                <button class="tablinks" onclick="openTab('submit-genre-div')">Selected Bandname Genre</button>
                <button class="tablinks" onclick="openTab('submit-bandname-div')">Submit New Bandname</button>
            </div>

            <div id="submit-genre-div" id="genres-ui-card" class="col-12 col-lg-6 mb-4 mb-lg-0 tabcontent">
                <div class="card card-tertiary">
    
                    <div class="card-header">
                        <span class="ml-4">Selected Bandname Genre</span>
                    </div>
    
                    <div class="card-body">
                        <table class="genres-table">
                            <span class="top3-text">Top Suggestions</span>
                            <tr class="genres-cells">
                                <!-- Gets filled with top 3 genres -->
                            </tr>
                        </table>

                        <span class="top3-text">or</span>

                        <div class="genre-combo-box">
                            <span id="new-genre-label">Suggest a new one?</span>
                            <form enctype="multipart/form-data" method="post" id="new-genre-submission-form">
                                {% csrf_token %}
                                <table>
                                    <tr>
                                        <td>
                                            <input class="disable-group form-control w-75" autocomplete="off" type="text" id="genre-search" placeholder="Start Typing..." disabled=""/>
                                        </td>
                                        <td>
                                            <button disabled="" id="new-genre-submit" class="btn btn-sm mr-2 btn-primary border-dark disable-group" type="submit">Submit</button>
                                        </td>
                                    </tr>
                                </table>
                            </form>
                            <div class="genre-dropdown">
                                <!-- Gets filled with genres and subgenres -->
                            </div>
                        </div>  
                    </div>
    
                </div>
            </div>
            <div id="submit-bandname-div" class = 'submission-contents-div tabcontent'>
                <div class="col-12 col-lg-6 mb-4 mb-lg-0">
                    <div class="card card-tertiary">
                        <div class="card-header">
                            <span class="ml-4">Submit New Bandname</span>
                        </div>
                        <div class="card-body">
                            <span id="new-genre-label">Submit a new bandname to the wheel</span>
                            <form enctype="multipart/form-data" method="post" id="post-form">
                                {% csrf_token %}
                                <table>
                                    <tr>
                                        <td>
                                            <input class="form-control w-75" autocomplete="off" type="text" id="bandname" placeholder="Start Typing...">
                                        </td>
                                        <td>
                                            <button id="bandname-submit" class="btn btn-sm mr-2 btn-primary border-dark" type="submit">Submit</button>
                                        </td>
                                    </tr>
                                </table>
                            </form>
                        </div>
                    </div>
                </div>
            </div> 
        </div>
    </div>
</div>

<!-- p5.js sketches  -->
<script src="{% static 'main/scripts/p5/wheel/clock.js' %} "></script>
<script src="{% static 'main/scripts/p5/wheel/wheel.js' %} "></script>
<script src="{% static 'main/scripts/p5/wheel/sketch.js' %} ", id = "wheel-script" data-bandnames ="{{bandnames}}"></script>

<!-- Empty loading screen (another sketch could go here) -->
<div id ="p5_loading"></div>

<script>
    var vw = Math.max(document.documentElement.clientWidth || 0, window.innerWidth || 0)
</script>

<!-- AJAX scripts -->
<script type="text/javascript" src=" {% static 'main/scripts/bn-submission.js' %} "></script>

{% endblock %}