{% load static %}
<div id="nav-div">
    <img class="noselect" draggable=false src="{% static 'images/arch.png' %}" id="arch-img"/>
    <div id="sign-div">
        <img class="noselect" draggable = false src="{% static 'images/arch_sign.png' %}" id="arch-sign"></img>
        <div id="website-logo">
            <a href="{% url 'index' %}">
                <img class="noselect" draggable = false src="{% static 'images/bandnames.png' %}" id="website-logo-img"></img>
            </a>
            <a href="/refresh_wheel">
                <img id="website-logo-gif" onmouseleave="set_logo_static()" onmouseover="set_logo_active()" class="noselect active" draggable=false src="{% static 'gifs/cool.gif' %}" id="website-logo-gif">
            </a>
        </div>
        <div class="noselect" id="nav-links">
            {% if user.is_authenticated %}
                <a href="{% url 'index' %}" class = 'cursor-horns'>Home</a><span style="color:white;"> |</span>
                <a id="profile-link" href="{% url 'profile' %}" class = 'cursor-horns'>Profile</a> <span style="color:white;"> |</span>
                <a id = 'bandalytics-link' href="{% url 'bandalytics' %}" class = 'cursor-horns'>Bandalytics</a><span style="color:white;"> |</span>
                <a id="batch-submit-link" href="{% url 'batchSubmission' %}" class = 'cursor-horns'>Batch</a> <span style="color:white;"> |</span>
                <a id = 'faq-link' href="{% url 'faq' %}" class = 'cursor-horns'>FAQ</a><span style="color:white;"> |</span>
                <a id="logout-link" href="{% url 'logout' %}" class = 'cursor-horns'>Log Out</a>
            {% else %}
                <a href="{% url 'index' %}" class = 'cursor-horns'>Home</a><span style="color:white;"> | </span>
                <a id = 'bandalytics-link' href="{% url 'bandalytics' %}" class = 'cursor-horns'>Bandalytics</a><span style="color:white;"> | </span>
                <a id="login-link" href="{% url 'login' %}" class = 'cursor-horns'>Log In</a><span style="color:white;"> | </span>
                <a id="register-link" href="{% url 'accounts' %}" class = 'cursor-horns'>Register</a><span style="color:white;"> | </span>
                <a id = 'faq-link' href="{% url 'faq' %}" class = 'cursor-horns'>FAQ</a>
            {% endif %} 
        </div>
    </div>
</div>

<!-- Swaps the .cool logo between png and gif depending on if the user is hovering or not  -->
<script>
    function set_logo_active(){
        var logo = document.getElementById("website-logo-gif");
        logo.src = "{% static 'gifs/cool.gif' %}";
        logo.classList.remove("static");
        logo.classList.add("active");
    }

    function set_logo_static(){
        var logo = document.getElementById("website-logo-gif");
        logo.src = "{% static 'images/cool.png' %}";
        logo.classList.remove("active");
        logo.classList.add("static");
    }
</script>