{% load static %}
<br> 
<div id = "outer-nav-div">
    <image draggable = false src="{% static 'images/stone-placard.png' %}" id="nav-img"></image>
    <div id="inner-nav-div">
        {% if user.is_authenticated %}
            <span id="greetings-msg" style="color:white">Hi {{ user.username }}! </span><br><a href="{% url 'submission' %}">Home</a> |
            <a id="logout-link" href="{% url 'logout' %}">Log Out</a> |
            <a id="batch-submit-link" href="{% url 'batchSubmission' %}">Batch Submit</a> |
            <a id="profile-link" href="{% url 'profile' %}">Profile</a> |
            
        
        {% else %}
            <span id="logged-out-span" style="color:white">You are not logged in</span> <br><a href="{% url 'submission' %}">Home</a> |
            <a id="login-link" href="{% url 'login' %}">Log In</a> |
            <a id="register-link" href="{% url 'registration' %}">Sign Up</a> |
        {% endif %}
        <a id = 'faq-link' href="{% url 'faq' %}">FAQ</a><br>
        <a target="_blank" href="https://twitter.com/bandnamescool">
            <image  src = "{% static 'images/twitter.png' %}" style="width:25px; padding: 5px"/>
        </a>
        
    </div>
</div>