{% extends 'main/base.html' %}

{% load static %}
{% load profanity %}

{% block title %} {{ title }} {% endblock %}
{% block body %}

<script>
    var bandnames = {}
    var voted = false;
    var profanity_filter = "{{profanity_filter}}"

    '{% for bandname, censored_bandname in bandnames %}'
        bandnames["{{bandname}}"] = '{{censored_bandname}}'
    '{% endfor %}'
</script>

<div id = 'pillars-div'>
    <div id="transparent-background"></div>

    <!-- Torches -->
    <img class="noselect" draggable="false" src="{% static 'gifs/torch.gif' %}" id="torch-gif-left"/>
    <img class="noselect" draggable="false" src="{% static 'gifs/torch.gif' %}" id="torch-gif-right"/>
    
    <!-- Pillars -->
    <img class="noselect" draggable = false src="{% static 'images/pillar_left.png' %}" id="pillar-img-left"/>
    <img class="noselect" draggable = false src="{% static 'images/pillar_right.png' %}" id="pillar-img-right"/>
    
    <div class = "contents">

        <!-- Background hallway -->
        <div id="background-hallway"><img class="noselect" draggable = false src="{% static 'images/hallway_bg.png' %}" id="hallway-img"/></div>

        <img id="selector" src="{% static 'images/merle_selector.png' %}"/>

        <!-- Bandnames Wheel -->
        <div class = "sketch-div cursor-horns" id = "bandnames-wheel" style="touch-action:none"></div>
        
        <!-- Vote on bandname -->
        <div class = "vote-div">
            <!-- <h3 style="text-align: center; color: white; margin-bottom: 0;">Doth thou deem this bandname righteous?</h3> -->
            <h3 class="vote-form-div cursor-horns" id="bandname-selected"><img src="../../static/gifs/loading.gif" alt="loading wheel..."  width="45"/></h3>
            <form enctype="multipart/form-data" method="post" id="vote-form">
                {% csrf_token %}
                <a onmousedown="vote_up_clicked()" onmouseup="vote_up_resting()" onmouseout="vote_up_dragged()" type="submit" draggable = false value="Submit"  id = "upvote-link">
                    <span id="upvote-text">Upvote</span>
                    <img class="noselect cursor-horns" id="upvote-button" src="static/images/uv1.png"/>
                </a>
                <a id = "downvote-link" href="{% url 'vote' %}" onmousedown="vote_down_clicked()" onmouseup="vote_down_resting()" onmouseout="vote_down_dragged()" type="submit" draggable = false value="Submit" >
                    <span id="downvote-text">Downvote</span>
                    <img id="downvote-button" class="noselect cursor-horns" src="static/images/dv1.png"/>
                </a>
            </form>
        </div>
        
        <!-- Submit bandname -->
        <div class = 'submission-contents-div'>
            <img class="noselect" id="bn-submit-bg-image" draggable = false src="static/images/win95rununc.png"/>
            <h3 id="bn-submission-header"> Submit a bandname </h3>
            <div id = "submission-form">
                <a href="{% url 'faq' %}" id="submit-form-faq-link"></a>
                {% if user.is_authenticated %}
                <p id="bn-submission-text">Submit a bandname to the wheel. To view the bandnames you have submitted, select 'Profile'.</p>
                <a href="{% url 'profile' %}" id="submit-form-profile-link"><p id="submit-form-profile-text">Profile</p></a>
                {% else %}
                <p id="bn-submission-text">Submit a bandname to the wheel. Select 'Register' and create an account to view your submitted bandnames.</p>
                <a href="{% url 'login' %}" id="submit-form-login-link"><p id="submit-form-login-text">Login</p></a>
                <a href="{% url 'registration' %}" id="submit-form-register-link"><p id="submit-form-register-text">Register</p></a>
                {% endif %} 
                <form enctype="multipart/form-data" method="post" id="post-form">
                    <input id="bandname" class="cursor-text" placeholder="Start typing...">
                    <input class="noselect cursor-horns" onmousedown="clicked()" onmouseup="resting()" onmouseout="dragged()" id="bandname-submit"  type="submit" draggable=false value="Submit"/>
                </form>
                </div>
            </div>
        </div>
        
        <!-- Div for the selected bandname from the wheel -->
        <!-- <div class="voted-history-div" id="voting-system">
            <h3 id="annals-header">Annals of Voted Bandnames</h3>
            <img draggable = false class='noselect' src="{% static 'images/scroll.png' %}" id="scroll-img"></img>
            <table id="bandnames-table-voted"  class="display">
                <thead>
                    <tr>
                        <th>Bandname</th>
                        <th class="score-header">Score</th>
                    </tr>
                </thead>
                <tbody id='bandnames-table-voted-body'></tbody>
            </table>
        </div> -->
    </div>
</div>

<script src="{% static 'main/scripts/button-swap.js' %} "></script>

<!-- p5.js sketches  -->
<script src="{% static 'main/scripts/p5/wheel/wheel.js' %} "></script>
<script src="{% static 'main/scripts/p5/wheel/sketch.js' %} ", id = "wheel-script" data-bandnames ="{{bandnames}}"></script>

<!-- Empty loading screen (another sketch could go here) -->
<div id ="p5_loading"></div>

<script>
    var vw = Math.max(document.documentElement.clientWidth || 0, window.innerWidth || 0)
</script>

<!-- AJAX scripts -->
<script type="text/javascript" src=" {% static 'main/scripts/bn-submission.js' %} "></script>

{% endblock %}