.dataTables_wrapper {
    position: absolute !important;
    width: 367px !important;
    bottom: 113px !important;
    right: 23px !important;
    font-size: 14px;
}

#scroll-img-bandalytics {
    transform: rotate(90deg);
    width: 400px;
}

#bandalytics-div {
    position: relative;
    width: 403px;
    margin: auto;
}

#bandalytics-table {
    position: absolute !important;
}

#bandalytics_selection {
    position: absolute;
    left: 15px;
    bottom: 325px;
}

tr {
    text-transform:capitalize;
}

table.dataTable thead > tr > th.sorting::after, 
table.dataTable thead > tr > th.sorting_asc::after, 
table.dataTable thead > tr > th.sorting_desc::after, 
table.dataTable thead > tr > th.sorting_asc_disabled::after, 
table.dataTable thead > tr > th.sorting_desc_disabled::after, 
table.dataTable thead > tr > td.sorting::after, 
table.dataTable thead > tr > td.sorting_asc::after, 
table.dataTable thead > tr > td.sorting_desc::after, 
table.dataTable thead > tr > td.sorting_asc_disabled::after, 
table.dataTable thead > tr > td.sorting_desc_disabled::after {
    content: "" !important;
}