{% extends 'Bandnames/base.html' %}

{% block title %} {{ title }} {% endblock %}

{% block body %}
<center>
    <form style="font-family: Pixelated" id="post-form">
        <h2> Submit a bandname </h2>
        {% csrf_token %}
        <p>Bandname: <input type="text" id="bandname" , name="bandname" /><br><br>
        Username: <input type="text" id="username" , name="username" /><br><br>
        <button style="font-family: Pixelated" >Submit Bandname</button>
    </form>
    <h1></h1>
</center>

<!-- <script type="text/javascript">
    $(document).on('submit', '#post-form', function (e) {
        e.preventDefault(); // Stop page from refreshing
        $.blockUI({ message: null }); 
        $.ajax({
            type: 'POST',
            url: '/create',
            data: {
                bandname: $('#bandname').val(),
                username: $('#username').val(),
                csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val(),
            },
            success: function (data) {
                $.unblockUI();
                $('h1').html(data);
            }
        });
    });
</script> -->

{% endblock %}