{% extends 'Bandnames/base.html' %}

{% block title %} {{ title }} {% endblock %}

{% block body %}
<center>

    <h1></h1>
    <form style="font-family: Pixelated" id="post-form">
        <h2> Submit a bandname </h2>
        {% csrf_token %}
        <p>Bandname: <input type="text" id="bandname" , name="bandname" /><br><br>
        Username: <input type="text" id="username" , name="username" /><br><br>
        <button style="font-family: Pixelated" >Submit Bandname</button>
    </form>

    <form id="refresh-button">
        {% csrf_token %}
        <button>Refresh Bandnames</button>
    </form>

</center>

<center>
        <ul style="font-family: Pixelated" id='bandnames-list'>
            {% for bandname in bandnames %}
            <li>{{bandname.bandname}}</li>
            {% endfor %}
        </ul>
</center>

{% endblock %}