{% extends 'Bandnames/base.html' %}

{% block title %} {{ title }} {% endblock %}

{% block body %}
<center>

    <h1></h1>
    <form style="font-family: Pixelated" id="post-form">
        <h2> Submit a bandname </h2>
        {% csrf_token %}
        <p>Bandname: <input type="text" id="bandname" , name="bandname" /><br><br>
        Username: <input type="text" id="username" , name="username" /><br><br>
        <button style="font-family: Pixelated" >Submit Bandname</button>
    </form>

    <form id="refresh-button">
        {% csrf_token %}
        <button>Refresh Bandnames</button>
    </form>

</center>

<center>
        <table style="font-family: Pixelated" id="bandnames-table">
            <tr>
                <th>Bandname</th>
                <th>Username</th>
                <th>Upvotes</th>
                <th>Downvotes</th>
            </tr>
            {% for bandname in bandnames %}
            </tr>
                <td>{{bandname.bandname}}</td>
                <td>{{bandname.username}}</td>
                <td>{{bandname.upvotes}}</td>
                <td>{{bandname.downvotes}}</td>
            </tr>
            {% endfor %}
        </table>
</center>

{% endblock %}