
#bandnames-table-div-profile{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

#profile-form{
    text-align: center;
}

#bandnames-table-profile-wrapper{
    width: 400px;
    margin-left: auto;
    margin-right:auto;
}

.dataTables_wrapper .dataTables_paginate .paginate_button.current {
    background: rgb(150, 218, 156) !important;
}

.dataTables_wrapper .dataTables_paginate .paginate_button {
    background: rgb(169, 169, 169) !important;
    margin:       auto !important;
    padding:      1px !important;
}

.dataTables_wrapper .dataTables_paginate {
    float:       left;
    text-align:  left !important;
    padding-top: 0.3em;
}

.dataTables_wrapper .dataTables_length, .dataTables_wrapper .dataTables_filter, .dataTables_wrapper .dataTables_info, .dataTables_wrapper .dataTables_processing, .dataTables_wrapper .dataTables_paginate {
    color: #9f9f9f !important;
}

#profile-body-top {
    position: relative;
    width: 400px;
    margin: auto;
    text-align: center;
    height: 100%;
    padding: 10px;
}

#profile-body-top-contents {
    position: absolute;
    top: 0px;
    left: 0px;
    margin: auto;
    width: 100%;
}

#profile-body-top-img {
    width: 180px;
}