.delete-button-profile{
    width:25px;
}
#bandnames-table-div-profile{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

#profile-form{
    text-align: center;
}

#bandnames-table-headers-profile {
    width:100%;
}

.scroller-profile{
    width: inherit;
    height: 350px;
    overflow-y: scroll;
    scrollbar-color: rgba(1, 1, 1, 0.356) rgba(0, 0, 0, 0);
    scrollbar-width: thin;
    overflow-x: hidden;
}

#score-header-profile {
    width: 15%;
}

#bandnames-table-profile-wrapper{
    width: 400px;
    margin-left: auto;
    margin-right:auto;
}