

.delete-button-profile{
    width:25px;
}
#bandnames-table-div-profile{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

#profile-form{
    text-align: center;
}

#bandnames-table-headers-profile {
    width:100%;
}

#bandnames-table-profile-wrapper{
    width: 400px;
    margin-left: auto;
    margin-right:auto;
}

.dataTables_wrapper .dataTables_paginate .paginate_button.current {
    background: rgb(150, 218, 156) !important;
}

.dataTables_wrapper .dataTables_paginate .paginate_button {
    background: rgb(169, 169, 169) !important;
    margin: auto !important;
}

.dataTables_wrapper .dataTables_paginate {
    float: left;
    text-align: left !important;
    padding-top: 0.3em;
}

.dataTables_wrapper .dataTables_length, .dataTables_wrapper .dataTables_filter, .dataTables_wrapper .dataTables_info, .dataTables_wrapper .dataTables_processing, .dataTables_wrapper .dataTables_paginate {
    color: #9f9f9f !important;
}

.cursor-text {
    cursor: url("../../images/cursor-text.2544891b807f.png"), auto;
}

.cursor-default {
    cursor: url("../../images/cursor-default.7cf271181c71.png"), auto;
}

.cursor-horns {
    cursor: url("../../images/cursor-horns.f17f5e35167c.png"), auto !important;
}