html {
    background-color: rgb(255, 204, 0);
    scrollbar-color: rgba(1, 1, 1, 0.356) rgba(0, 0, 0, 0);
    scrollbar-width: thin;
    font-family: Pixelated;
}

h1 {
    color: black;
    font-family: 'Pixelated';
}

@font-face {
    font-family: 'Pixelated';
    src: url("pixel.6bb6308744b3.ttf");
}

input[type="text"] {
    font-family: 'Pixelated';
    font-size: 16px;
}

.pixelated-font {
    font-family: 'Pixelated';
}