html {
    background-image: url("../images/background.691fa0504a2d.png");
    scrollbar-color: rgba(1, 1, 1, 0.356) rgba(0, 0, 0, 0);
    scrollbar-width: thin;
    font-family: Pixelated;
    overflow-y: scroll;
    overflow-x: hidden !important;
    visibility: hidden;
}

body {
    margin: 0;
    overflow-x: hidden !important;
    overflow-y: hidden;
}

@font-face {
    font-family: 'Pixelated';
    src: url("../fonts/pixel.6bb6308744b3.ttf");
}

@font-face {
    font-family: 'Win95';
    src: url("../fonts/win95.772fa67643ce.ttf");
}

@media only screen and (max-width: 700px) {
    html {
        overflow-x: hidden;
    }
}

.cursor-text {
    cursor: url("../images/cursor-text.2544891b807f.png"), auto;
}

.cursor-default {
    cursor: url("../images/cursor-default.7cf271181c71.png"), auto;
}

.cursor-horns {
    cursor: url("../images/cursor-horns.f17f5e35167c.png"), auto !important;
}

input[type="text"] {
    font-family: 'Pixelated';
    font-size: 16px;
    cursor: url("../images/cursor-text.2544891b807f.png"), auto !important;
}

.pixelated-font {
    font-family: 'Pixelated';
}

/* Links */
a {
    color: #e48ce5;
    cursor: url("../images/cursor-horns.f17f5e35167c.png"), auto !important;
}

.current {
    color: rgb(75, 255, 204);
}

#faq-text {
    color: white;
}

#placcard-img {
    width: 400px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
    image-rendering: crisp-edges;
}

#user-submissions-div {
    width: 400px;
    height: 61%;
    margin: auto;
    position: relative;
    background-color: rgba(149, 113, 29, 0.7);
    border-radius: 25px;
}

.score-header {
    width: 100px;
}

.bandnames-table-profile {
    margin: 0;
}

table.dataTable {
    width: 100% !important;
    margin: 0 0 !important;
}

.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
}

#submit-img {
    width: 250px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
    image-rendering: crisp-edges;
}

.odd {
    background-color: rgba(223, 223, 223, 0.44) !important;
}

.even {
    background-color: rgba(255, 255, 255, 0.16) !important;
}

#batch-inner-div {
    position: absolute;
    top: 0px;
    left: 19px;
    width: 430px;
    color: #c1c1c1;
}

#batch-outer-div {
    position: relative;
    width: 451px;
    height: 754px;
    margin: auto;
}

#batch-img {
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
    width: 450px;
    image-rendering: crisp-edges;
}

table.dataTable tbody td {
    padding: 0px !important;
}

.display {
    width: 300px !important
}

.dataTable {
    width: 300px !important
}

.delete-button {
    width: 25px;
}

#del-btn-td {
    width: 25px;
    height: 25px;
}

.tableHeaders {
    text-align: center;
}

/* Tooltip container */
.tooltip {
    text-align: center;
    position: relative;
    border-bottom: 1px dotted black;
    width: 50%;
    /* If you want dots under the hoverable text */
}

/* Tooltip text */
.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: rgb(58, 169, 179);
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;

    /* Position the tooltip text - see examples below! */
    position: absolute;
    z-index: 1;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
    visibility: visible;
}

#bandnames-table-div {
    width: 100%;
}

#scroll-img {
    width: 100%;
    height: 490px;
    image-rendering: crisp-edges;
}

#nav-img {
    width: 425px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
    image-rendering: crisp-edges;
}

#arch-sign {
    width: 550px;
    position: absolute;
    bottom: 66px;
    image-rendering: crisp-edges;

}

#website-logo {
    width: 430px;
    position: absolute;
    bottom: 124px;
    image-rendering: crisp-edges;
    transform: translateX(-50%);
}

#arch-div {
    position: relative;
    display: flex;
    justify-content: center;
}

#arch-img {
    width: 1197px;
    image-rendering: crisp-edges;
    position: absolute;
    bottom: 0;
    height: 330px;
    z-index: -1;
}

#voting-system {
    display: inherit;
    position: relative;
    width: 400px;
    margin: auto;
}

#bandname-submit {
    font-family: 'Win95';
    width: 84px;
    background-color: transparent;
    border: none;
    position: absolute;
    top: -35px;
    left: 76px;
    font-size: 16px;
}

#nav-div {
    text-align: center;
    width: 100%;
    margin: auto;
    padding-top: 250px;
    position: relative;
    z-index: 2;
}

#outer-nav-div {
    position: absolute;
}

table.dataTable thead th {
    padding: 0 !important;
    text-align: center !important;
}

table.dataTable tbody td {
    text-align: center !important;
}

#nav-links {
    position: absolute;
    margin: auto;
    width: 100%;
    top: 146px;
}

#submission-form {
    width: 250px;
    position: absolute;
    bottom: 309px;
    right: 293px;
}

.contents {
    margin: auto;
    width: 750px;
    height: 100%;
    justify-items: center;

    position: absolute;
    top: 0;
    left: -25px;
}

.submission-contents-div {
    width: 100%;
    text-align: center;
    margin: auto;
}

.vote-div {
    text-align: center;
    margin: auto;
    margin-bottom: 25px;
    width: 430px;
    height: 175px;
}

@media only screen and (max-width: 700px) {
    .contents {
        margin-left: auto !important;
        margin-right: auto !important;
        display: inherit;
        left: 50%;
        transform: translateX(-50%);
    }
}

#bandnames-wheel {
    width: 500px;
    position: relative;
    z-index: -2;
    margin-top: -100px;
    height: 286px;
    left: 50%;
    transform: translateX(-50%);
}

#wheel-controls {
    text-align: center;
}

.selected {
    margin-top: 25px;
    width: 340px;
    margin-bottom: 25px;
    text-align: center;
}

@media only screen and (max-width: 700px) {
    .selected {
        margin-top: -150px !important;
    }
}

#bandnames {
    width: inherit !important;
    max-height: 650px;
    min-height: 250px;

}

#vote-form {
    text-align: center;
    width: 100%;
    height:50%;
}

#faq-text {
    text-align: center;
    width: 100%;
    color: white !important;
    height: 98%;
    overflow-y: scroll;
}

#faq-div {
    border-radius: 10px;
    width: 100%;
    height:100%;
    margin: auto;
    position: relative;
}

.image {
    position: relative;
    width: 100%;
    /* for IE 6 */
}

.button-text {
    position: absolute;
    top: -4px;
    left: 0;
    width: 100%;
}

#red {
    color: red;
}

#green {
    color: green;
}



#login-div {
    width: 300px;
    margin: auto;
    text-align: center;
    position: relative;
}

#login-form {
    position: absolute;
    top: 0px;
    height: 300px;
    right: 0px;
}

#login-img {
    width: 300px;
    image-rendering: crisp-edges;
}

#signup-img {
    width: 300px;
    image-rendering: crisp-edges;
}

#signup-div {
    position: relative;
    width: 400px;
    text-align: center;
    margin: auto;
}

#signup-div-content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

#submission-status {
    max-height: 100px;
}

#upvote-button {
    width: 30px;
    position: absolute;
    left: 164px;
}

#upvote-link {
    width: 200px;
    height: 50px;
    position: absolute;
    left: 145px;
}

#downvote-link {
    position: absolute;
    width: 176px;
    height: 50px;
    left: 402px;
}

#downvote-button {
    width: 30px;
    position: absolute;
    left: 8px;
    top: 3px;
}

#downvote-text{
    position: absolute;
    top: 15px;
    left: 68px;
    font-size: 15px;
}

#vote-img {
    width: 60px;
    image-rendering: crisp-edges;
}

#bandname-selected {
    height: 50px;
    background-color: rgba(0, 0, 0, 0.33);
    border-radius: 5px;
    margin-bottom: 45px;
    margin-top: 57px;
}

#background-hallway {
    position: absolute;
    filter: brightness(50%);
    z-index: -2;
    left: 0px;
    width: 100%;
    height: 914px;
}

#hallway-img {
    width: 750px;
    height: 125%;
    top: -200px;
    position: absolute;
}

#pillars-div {
    width: 700px;
    height: 942px;
    margin: auto;
    position: relative;
}

#pillar-img-right {
    position: absolute;
    left: 100%;
    top: 0;
    overflow-x: hidden;
    overflow-y: hidden;
    height: 942px;
    image-rendering: crisp-edges;
}

#pillar-img-left {
    position: absolute;
    right: 100%;
    top: 0;
    overflow-x: hidden;
    overflow-y: hidden;
    height: 942px;
    image-rendering: crisp-edges;
}

@media only screen and (max-width: 700px) {
    #pillars-div {
        width: 100%;
        position: unset;
        position: relative;
    }
}


@media only screen and (max-width: 700px) {
    #pillar-img-left {
        display: none;
    }
}

@media only screen and (max-width: 700px) {
    #pillar-img-right {
        display: none;
    }
}

#bg-image {
    position: absolute;
    width: 100%;
    image-rendering: crisp-edges;
}

#torch-gif-left {
    position: absolute;
    left: -203px;
    top: -168px;
    width: 156px;
    image-rendering: crisp-edges;
    z-index: 5;
}

#torch-gif-right {
    position: absolute;
    right: -195px;
    top: -168px;
    width: 156px;
    image-rendering: crisp-edges;
    z-index: 5;
}

#bn-submit-bg-image {
    width: 426px;
}

#bn-submission-header {
    position: absolute;
    top: 427px;
    right: 375px;
    color: white;
}

#bandname {
    background-color: #fdf8ff;
    outline: none;
    position: absolute;
    top: -87px;
    left: 27px;
    width: 308px;
    height: 16px;
    font-family: 'Win95';
}

#post-form {
    font-family: "Win95";
}

#bn-submission-text{
    position: absolute;
    text-align: left;
    width: 334px;
    font-size: 14px;
    font-family: "Win95";
    color: black;
    top: -157px;
    left: 26px;
}

#submit-form-faq-link{
    position: absolute;
    top: -183px;
    left: 334px;
    width: 17px;
    height: 14px;
}

#submit-form-profile-link{
    position: absolute;
    top: -35px;
    left: 173px;
    width: 89px;
    height: 25px;
    font-family: "Win95";
}

#submit-form-profile-text{
    margin: 0;
    color: black;
    
}

#submit-form-login-link{
    position: absolute;
    top: -35px;
    left: 173px;
    width: 89px;
    height: 25px;
    font-family: "Win95";
}

#submit-form-login-text{
    margin: 0;
    color: black;
    
}

#submit-form-register-link{
    position: absolute;
    top: -35px;
    left: 272px;
    width: 89px;
    height: 25px;
    font-family: "Win95";
}

#submit-form-register-text{
    margin: 0;
    color: black;
    
}

#transparent-background{
    position: absolute;
    width: 855px;
    height: 133%;
    top: -192px;
    left: -28px;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: -2;
}

#profile-body{
    position: absolute;
    width:100%;
    height:100%;
    text-align: center;
}

#upvote-text{
    position: absolute;
    top:15px;
    left: 68px;
    font-size: 15px;
}