.delete-button-profile{
    width:25px;
}
#bandnames-table-div-profile{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

#profile-form{
    text-align: center;
}

#bandnames-table-headers-profile {
    width:100%;
}

.scroller-profile{
    width: inherit;
    height: 350px;
    overflow-y: scroll;
    scrollbar-color: rgba(1, 1, 1, 0.356) rgba(0, 0, 0, 0);
    scrollbar-width: thin;
    overflow-x: hidden;
}

#score-header-profile {
    width: 15%;
}

#bandnames-table-profile-wrapper{
    width: 400px;
    margin-left: auto;
    margin-right:auto;
}

.dataTables_wrapper .dataTables_paginate .paginate_button.current {
    background: rgb(150, 218, 156) !important;
}

.dataTables_wrapper .dataTables_paginate .paginate_button {
    background: rgb(169, 169, 169) !important;
    margin: auto !important;
}

.dataTables_wrapper .dataTables_paginate {
    float: left;
    text-align: left !important;
    padding-top: 0.3em;
}

.dataTables_wrapper .dataTables_length, .dataTables_wrapper .dataTables_filter, .dataTables_wrapper .dataTables_info, .dataTables_wrapper .dataTables_processing, .dataTables_wrapper .dataTables_paginate {
    color: #9f9f9f !important;
  }