html {
    background-image: url("../images/background.png");
    scrollbar-color: rgba(1, 1, 1, 0.356) rgba(0, 0, 0, 0);
    scrollbar-width: thin;
    font-family: Pixelated;
}

h1 {
    color: black;
    font-family: 'Pixelated';
}

@font-face {
    font-family: 'Pixelated';
    src: url('pixel.ttf');
}

input[type="text"] {
    font-family: 'Pixelated';
    font-size: 16px;
}

.pixelated-font {
    font-family: 'Pixelated';
}

a {
    color: hotpink;
}

#faq-text{
    color:white;
}