html {
    background-image: url("../images/background.png");
    scrollbar-color: rgba(1, 1, 1, 0.356) rgba(0, 0, 0, 0);
    scrollbar-width: thin;
    font-family: Pixelated;
}

h1 {
    color: black;
    font-family: 'Pixelated';
}

@font-face {
    font-family: 'Pixelated';
    src: url('pixel.ttf');
}

input[type="text"] {
    font-family: 'Pixelated';
    font-size: 16px;
}

.pixelated-font {
    font-family: 'Pixelated';
}

a {
    color: #e48ce5;
}

#faq-text{
    color:white;
}

#placcard-img{
    width: 400px;
}

#user-ubmissions-div{
    width: 400px;
    height: 500px;
    margin: auto;
    position: relative;
}

#user-submissions-table{
    bottom: -10px;
    position: absolute;
    width: 344px;
    margin-left: 27px;
}

.score-header {
    width:100px;
}

.bandnames-table-profile{
    margin: 0;
}

.dataTables_wrapper .dataTables_filter {
    float: left !important;
    text-align: left !important;
  }

.dataTables_scrollHeadInner{  width:100% !important; }
.dataTables_scrollHeadInner table{  width:100% !important; }

table.dataTable {
    width: 100% !important;
    margin: 0 0 !important;
}

.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Old versions of Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome, Edge, Opera and Firefox */
}

.current {
    color: rgb(63, 110, 54);
}

#submit-img{
    width: 234px;
}

.odd {
    background-color: rgba(223, 223, 223, 0.44) !important;
}
.even {
    background-color: rgba(255, 255, 255, 0.16) !important;
}