html {
    background-image: url("../images/background.png");
    scrollbar-color: rgba(1, 1, 1, 0.356) rgba(0, 0, 0, 0);
    scrollbar-width: thin;
    font-family: Pixelated;
}

h1 {
    color: black;
    font-family: 'Pixelated';
}

@font-face {
    font-family: 'Pixelated';
    src: url('pixel.ttf');
}

input[type="text"] {
    font-family: 'Pixelated';
    font-size: 16px;
}

.pixelated-font {
    font-family: 'Pixelated';
}

a {
    color: hotpink;
}

#faq-text{
    color:white;
}

#placcard-img{
    width: 400px;
}

.dataTables_wrapper .dataTables_length, .dataTables_wrapper .dataTables_filter, .dataTables_wrapper .dataTables_info, .dataTables_wrapper .dataTables_processing, .dataTables_wrapper .dataTables_paginate {
    color: rgb(148, 148, 148) !important;
}

#user-ubmissions-div{
    width: 400px;
    margin: auto;
}

#user-submissions-table{
    bottom: 90px;
    position: absolute;
    width: 380px;
    margin-left: 11px;
}

.score-header {
    width:100px;
}

.bandnames-table-profile{
    margin: 0;
}

.dataTables_wrapper .dataTables_filter {
    float: left !important;
    text-align: left !important;
  }

.dataTables_scrollHeadInner{  width:100% !important; }
.dataTables_scrollHeadInner table{  width:100% !important; }

table.dataTable {
    width: 100% !important;
    margin: 0 0 !important;
}