.fixTableHead {
    overflow-y: auto;
    width: 400px;
}
.fixTableHead thead th {
    position: sticky;
    top: 0;
}

table {
    border-collapse: collapse;
    table-layout: fixed;
}
th, td {
    padding: 8px 15px;
    text-align: center;
}
th {
    background: #d74141c6;
    width:100%;
}

tr {
    width:100%;
}

.delete-button {
    width: 25px;
}

#del-btn-td{
    width:25px;
    height:25px;
}

.tableHeaders{
    text-align: center;
}

/* Tooltip container */
.tooltip {
    text-align: center;
    position: relative;
    border-bottom: 1px dotted black;
    width:50%;
    /* If you want dots under the hoverable text */
}

/* Tooltip text */
.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: rgb(58, 169, 179);
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;

    /* Position the tooltip text - see examples below! */
    position: absolute;
    z-index: 1;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
    visibility: visible;
}

.scroller {
    width: inherit;
    overflow-y: scroll;
    scrollbar-color: rgba(1, 1, 1, 0.356) rgba(0, 0, 0, 0);
    scrollbar-width: thin;
    overflow-x: hidden;
    height: 325px;
}

#bandnames-table-div{
    width:100%;
}

#scroll-img{
    width: 100%;
}

#nav-img {
    width:375px;
}

#vote-form{
    position: absolute;
    width: 307px !important;
    margin-left: 68px;
    margin-top: 50px;
}

#voting-system{
    display: inherit;
}

#bandname-submit{
    width:100px;
}

#inner-nav-div{
    position: relative;
    bottom: 75px;
    text-align: center;
}

#outer-nav-div{
    margin-left: auto;
    margin-right: auto;
    display: table;
}