{% extends 'bnSubmission/base.html' %}

{% block title %} {{ title }} {% endblock %}

{% block body %}

<center>
<br><div style="font-family: Pixelated;">
    {% if user.is_authenticated %}
        Hi {{ user.username }}! <a href="{% url 'logout' %}">Log Out</a>
       
    {% else %}
        You are not logged in
        <a href="{% url 'login' %}">Log In</a> |
        <a href="{% url 'signup' %}">Sign Up</a>
    {% endif %}
</div><br>
</center>



<center>
    <script>
        var wheel;
        var bn_arr;
        var pAngle;
        var v2;
        var mousePosX;
        var mousePosY;

        class Wheel {
            
            constructor(position, radius, color, bandnames) {

                this.states = { Stopped: "stopped",
                                Spinning: "spinning",
                                Picked: "picked" 
                              }
                this.state = this.states.Stopped;
                this.position = position
                this.radius = radius;
                this.color = color;

                this.angle = 0;
                this.pastAngle = 0;
                this.angleV = 0.0;
                this.angleA = 0;
                this.pAngle = 0;

                this.bandnames = bandnames
                this.bandnamesOnWheel = []
                this.stopVelocity = 0.00020;
                this.slowRate = -0.01;
                this.populateWheel();
                
            }

            refreshWheel() {
                this.bandnamesOnWheel = []
                this.populateWheel();
            }

            populateWheel () {
                for (var i = 0; i < this.bandnames.length; i++) {
                    if (this.bandnamesOnWheel.length > 10) {
                        break;
                    }
                    this.bandnamesOnWheel.push(this.bandnames[Math.floor(Math.random() * this.bandnames.length)])
                }
            }

            slowDownWheel() {
                if(this.state == this.states.Spinning){
                    this.angleV += this.angleV * this.slowRate;
                }
            }

            checkAndStopWheel() {
                if (this.angleV < this.stopVelocity || this.angleV == 0) {
                    this.angleV = 0;
                    this.state = this.states.Stopped
                    return true
                }

                this.state = this.states.Spinning
                return false
            }

            update() {

                // Ensure mouse is inside canvas
                if ((mouseX > 0) && (mouseX < width) &&
                    (mouseY > 0) && (mouseY < height)) {

                    if (mouseIsPressed) {

                        // mousePosX = mouseY
                        // mousePosY = mouseY

                        let dy = mouseY - pmouseY;
                        let v = createVector(mouseX - width / 2, mouseY - height / 2);
                        
                        // Ensure mouse is heading downwards
                        if (dy > 0 && mouseX > width/2) {
                            this.angle = this.pastAngle + dy * 0.5;
                            this.pastAngle = this.angle;
                        } 
                    }
                }

                /*
                    0. push(), pop() to only rotate these items.
                    1. Translate canvas to halfway down the left edge
                    2. Rotate the wheel by the angle
                    3. Call this.render()
                    4. Translate canvas back to origin point
                */ 
                push();

                translate(-150, height/2);
                rotate(this.angle);
                this.render();
                translate(150, -height/2);
                
                pop();

                this.slowDownWheel();
                this.checkAndStopWheel();
                this.checkAndResetAngle();
                
            }

            checkAndResetAngle() {
                if (this.angle > 360) {
                    console.log('resetting')
                }
            }

            renderLines() {
                for (var i = 0; i < this.bandnamesOnWheel.length; i++) {
                    line(0, 0, this.radius/2, 0)
                    rotate(32)
                }
            }

            renderBandnames() {
                
                // Draw each bandname 150px from center while rotating 0.2 radians for each name
                textSize(16);
                fill(0, 0, 0, 255)

                push();
                for (var i = 0; i < this.bandnamesOnWheel.length; i++) {
                    text(this.bandnamesOnWheel[i], 200, 0)
                    rotate(32)
                }
                pop();
            }

            renderWheel() {
                // Fill and draw the wheel
                fill(this.color["levels"][0], this.color["levels"][1], this.color["levels"][2])
                ellipse(this.position.x, this.position.y, this.radius)
            }

            render() {
                this.renderWheel();
                this.renderBandnames();
                this.renderLines();
            }
        };

        function mouseDragged() {
            if (mouseInsideCanvas()){
                wheel.angleV = 0;
                let v = createVector(pmouseX - width / 2, pmouseY - height / 2);
                wheel.pAngle = v.heading();
            }
        }

        function mouseReleased() {
            if (mouseInsideCanvas()){
                if (mousePosX != mouseX && mousePosY != mouseY){
                console.log(wheel.angle)
                let v2 = createVector(mouseX - width / 2, mouseY - height / 2);
                wheel.angleV = v2.heading() - wheel.pAngle;
                }
            }
        }

        function mouseInsideCanvas() {
            if ((mouseX > 0) && (mouseX < width) &&
                    (mouseY > 0) && (mouseY < height)) {
                return true
            }
            return false
        }

        function setup() {
            var canvas = createCanvas(400, 600);
            canvas.parent('sketch-holder');
            angleMode(DEGREES);
            ellipseMode(CENTER);
            background(255)
            frameRate(60);

            var bandnames = "{{ bandnames|safe }}"
            bn_arr = bandnames.split(',')
            

            for (var i = 0; i < bn_arr.length; i++) {
                bn_arr[i] = bn_arr[i].slice(12)
                bn_arr[i] = bn_arr[i].slice(0, -1)

                if (i == bn_arr.length - 1) {
                    bn_arr[i] = bn_arr[i].slice(0, -1)
                }
            }

            var random_name = bn_arr[Math.floor(Math.random() * bn_arr.length)]
            wheel = new Wheel(createVector(0, 0), 1000, color(255, 204, 0), bn_arr)

        }

        function draw() {
            background(255)
            
            wheel.update();
            console.log(wheel.angle)
            wheel.angle += wheel.angleV;
            // wheel.angleV += wheel.angleA;

            fill(200, 50, 0)
            triangle(
                     width - 51, height/2 -  0, 
                     width-1, height/2 - 20, 
                     width-1, height/2 + 20
                    );
        }

    </script>
</center>

<center>

    <div id = "sketch-holder" style="touch-action:none">

    </div>
    
    <div id = "submission-form" style="font-family: Pixelated" >
        <h2 id='submission-status'></h2>
        <form enctype="multipart/form-data" method="post" id="post-form">
            <h3> Submit a bandname </h3>
            {% csrf_token %}
            {{form}}
            <button name="submit" style="font-family: Pixelated; margin: 5px;" type="submit" value="Submit">Submit Bandname</button>
        </form>

        <!-- <form id="refresh-button">
            <button style="font-family: Pixelated; margin: 5px;" >Refresh Bandnames</button><br>
        </form> -->

    </div>
    <table style="font-family: Pixelated;" id="bandnames-table">
        <thead>
            <tr>
                <th>Bandname</th>
                <th>Upvotes</th>
                <th>Downvotes</th>
            </tr>
        </thead>

        {% for bandname in bandnames_reversed %}
        <tbody id="bandnames-table-body">
            </tr>
                <td class="tooltip">{{bandname.bandname}}
                    <span class="tooltiptext">{{bandname.username}}</span>
                </td>
                <td>{{bandname.upvotes}}</td>
                <td>{{bandname.downvotes}}</td>
            </tr>
        </tbody>
        {% endfor %}

    </table>
</center>

{% endblock %}