{% extends 'bnSubmission/homepage_base.html' %}

{% block title %} {{ title }} {% endblock %}

{% block body %}



<center>

    <br><div>
        {% if user.is_authenticated %}
            Hi {{ user.username }}! <a href="{% url 'logout' %}">Log Out</a>
        
        {% else %}
            You are not logged in
            <a href="{% url 'login' %}">Log In</a> |
            <a href="{% url 'signup' %}">Sign Up</a>
        {% endif %}
    </div><br>

    <button id="spin-button">Spin Wheel</button>
    <button id="mute-button">Mute</button><br>

</center>

<div class = "sketch-grid-container">
    <!-- Div for the p5.js sketch (Bandname Wheel) -->
    <div class = "sketch-holder" id = "sketch-holder" style="touch-action:none"></div>
    <!-- Div for the selected bandname from the wheel -->
    <div  class="selected" id="bandname-selected">Loading wheel...</div>
    <div class="voting-system" id="voting-system">
        <button id="upvote-button">Upvote</button>
        <button id="downvote-button">Downvote</button><br>
    </div>

</div>

<center>

    <!-- Empty loading screen (another sketch could go here) -->
    <div id ="p5_loading"></div>
    
    <!-- Submission form div -->
    <div id = "submission-form">
        <h2 id='submission-status'></h2>
        <form enctype="multipart/form-data" method="post" id="post-form">
            <h3> Submit a bandname </h3>
            {% csrf_token %}
            {{form}}
            <button name="submit" style="font-family: Pixelated; margin: 5px;" type="submit" value="Submit">Submit Bandname</button>
        </form>
    </div>

    <!-- Table of bandnames -->
    <div class="scroller" style="height:500px;overflow:auto;">
        <table id="bandnames-table">
            
            <thead><tr>
                <th>Bandname</th>
                <th>Upvotes</th>
            </tr></thead>

            {% for bandname in bandnames_reversed %}
            <tbody id="bandnames-table-body">
                </tr>
                    <td class="tooltip">{{bandname.bandname}}
                        <span class="tooltiptext">{{bandname.username}}</span>
                    </td>
                    <td>{{bandname.upvotes}}</td>
                </tr>
            </tbody>
            {% endfor %}

        </table>
    </div>

</center>

{% endblock %}